@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,400;1,300&display=swap");
/* poppins font family  property :
 font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar stylings */

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
  transition: 1.5s;
}

.navbar-brand {
  font-weight: 700;
  font-family: sans-serif;
}

.footer {
  background: linear-gradient(180deg, #000, #333);
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: rgb(178, 162, 162);
}

/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .all-products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex-style-600 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cart-img-600 {
    height: 14rem;
  }
  .admin-meu-600 {
    padding-right: 1.5rem;
  }
}
